{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div class="section">
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Total Shares</th>
                    <th>Price</th>
                    <th>Total Value</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.Symbol }}</td>
                        <td>{{ stock.TotalShares }}</td>
                        <td>{{ stock.Price }}</td>
                        <td>{{ stock.Total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Cash</td>
                    <td>{{ cash }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>TOTAL</td>
                    <td>{{ total_cash }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
