
.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }

    @media (max-width: 428px)
    {
        .d-flex .register
        {
            width: 60%
        }
        .d-flex .login
        {
            width: 40%
        }
        .d-flex .add-venue
        {
            width: 75%
        }
    }
    .error-message
    {
        text-align: left;
        font-size: 16px;
        color: crimson;
        font-style: italic;
    }
